body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: darkorange; */
  background-color:rgb(196, 186, 184);
  /* justify-content: center; */
  color: #333333;
}

header {
  width: 100%;
  margin-left: 10%;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: .7rem;
}

.p3 {
 margin-bottom: 0;
}

a {
display: block;
padding-left:70% ;
/* color: cornflowerblue;  */
margin-top: 8px;
}



.main {
  display: grid;
  grid-template-columns: repeat(auto-fill,280px);
 
  gap: 80px;
  width: 90%;
  
  margin-left:auto ;
  margin-right:auto ;
  background-color:ghostwhite;
  text-align: center;
  justify-content:center;
  padding-top: 100px;
}

 .pic{
   margin-left: auto;
   margin-right: auto;
 }


img {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  box-shadow: 0px 30px 50px rgba(73, 72, 72, 0.493);
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;


}


footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);
   
    gap: 80px;
    width: 90%;
    
    margin-left:auto ;
    margin-right:auto ;
    background-color:ghostwhite;
    text-align: center;
    justify-content:center;
    padding-top: 100px;
  }
   
 }
